@media only screen and (min-width: 374px) {

    html{
        background-color: #465062;
        min-width: 374px;
        min-height: 812px;
        display: flex;
        justify-content: center;
    }


}



@media screen  and (min-width: 1920px) and (min-height: 960px){
    html{
        background-color: #465062;
        width: 1920px;
        height: 960px;
    }

    h1{
        position: absolute;
        bottom: 800px;
        color: #0a3871;
        font-size: 100px;  
    }


    .allSection{
        height: 37rem;
        width: 700px;
        margin-left: 10rem;
        margin-top: 6rem;
    }

    .inputSpace{
        height: 36rem;
        width: 695px;
        font-size: x-large;
        background-color: #465062;
        border-style: none;
    }
    .infoDiv{
        display: flex;
        flex-direction: row;
        margin-left: 10rem;

    }

    .alertIcon{
        position: relative;
        top: 17px;
        height: 15px;
        width: 15px;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        background-image: url(./images/alert.png)
    }
    .labelUcon{
        margin-left: 10px;
    } 

    .buttonsSection{
        margin-left: 9rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 170px;
        width: 720px;
    }

    .encryptBtn{
        margin: 10px;
        height: 70px;
        width: 420px;
        background-color: #0a3871;
        border-style: none;
        border-radius: 25px;
        color: antiquewhite;
    }
    .encryptBtn:hover{
        background-color: #082140;
        transition: 0.8ms;
    }

    .uneneCryptBtn{
        margin: 10px;
        height: 70px;
        width: 420px;
        background-color: #f5f1e8;
        border-style: none; 
        border-radius: 25px;
    }

    .uneneCryptBtn:hover{
        background-color: #d8dfe8;
        transition: 0.8ms;
    }

    .unencryptSection{
        width: 480px;
        height: 880px;
        background-color: #c0c0c0;
        position: absolute;
        left: 78rem;
        bottom: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .imageContainer{
        position: relative;
        bottom: 90px;
        
        height: 510px;
        width: 450px;
        background-size: 500px;
        background-image: url(./images/—Pngtree—searching\ for\ money\ or\ documents_8880583.png);
    }
}